// @import "../../../node_modules/@ng-select/ng-select/scss/ng-select.component.scss";

.card-title {
    font-weight: 600;
    color: #0d6efd;
    
}

.text-danger {
    font-style: italic;
}

#select{
    background-color: rgb(179, 179, 177);
}

