// @import "../../../node_modules/@ng-select/ng-select/scss/ng-select.component.scss";

.card-title {
    font-weight: 600;
    color: #0d6efd;
}

.text-danger {
    font-style: italic;
}
// ::ng-deep .city-select .ng-select-container {
//   background-color: #f9f9f9;
//   border-radius: 6px;
//   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
//   border: 1px solid #ddd;
// }
